<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        span {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Search result(<%= querySet[0] %>)</h1>
    <% querySet[1].forEach(function(torrent) { %>
        <p><strong>hash:</strong>magnet:?xt=urn:btih:<%= torrent.infohash %></p>
        <p><strong>name:</strong><%- torrent.name %></p>
        <p><strong>peer_counter:</strong><%= torrent.peer_counter%></p>
        <hr>
    <% }); %>
</body>
</html>